*.doc
*.docx
*.DS_Store
*.pdf
/MP1/assignment1_materials
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
*.pyc
*.m
MP4/cifar-100-cs543-python/test_cs543
MP4/cifar-100-cs543-python/train_cs543
MP4/cifar-100-cs543-python/test.py
MP4/cifar-100-cs543-python.tar.gz
MP4/cifar-100-cs543-python.tar
